

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0.5em;
  background-color: #f6f8fe;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
  padding: 1em;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
    /* grid-gap: 5px; */
        grid-template-columns: 320px 655px 320px;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        color: #444;
    }


.box {
  background-color: #718CA1;
  color: white;
  margin: 0.5em;
  border-radius: 6px;
  padding: 1em 1em 1em 1em;


}

.header,
.footer {
  background-color:#B7C5D3;
  color: white;
  font-family: "Avenir";
  font-weight: 800;
  height: 80px;
  width: 1200px;
  margin: 0.1em;
  font-size:3em;

}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.articleItemNewswire {
  border-radius: 3px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  height: 200px;
  margin: 0.5rem;
  position: align;
  width: 700px;
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 1em;
  background: white;
}

.wireItemSection, .wireItemDate {
  font-size: 11px;
  font-family: "PT Serif"
}

.readLaterInfo {
  font-size: 11px;
  font-family: "Overpass";
  padding: 0.25em 0.25em 0.5em 0.25em;
}

.readLaterArticleItem {
  background-color: #f6f8fe;
  color: #333F4A;
  border-radius: 5px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  max-height: 150px;
  min-height: 80px;
  alignment: center;

  width: 255px;
  padding: 0.75em 0.25em;
  margin: 0.75em 0;
}

.readLaterArticleTitle {
  font-size: 13.5px;
  font-family: "Avenir";
  font-weight: 500;
  margin: 0px 0px 6px 0px;
}

.newswireItemArticleTitle {
  float: clear;
  font-family: "Avenir";
  font-weight: 500;
}

.wireImg {
  float: left;
  style: inline;
  padding: 2px 10px 2px 2px;
  margin: 3px;
}

.wireItemAbstract {

  padding: 6px 6px 0px 6px;
  margin: 6px 3px;
  font-family: "PT Serif";
  font-size: 14px;
}

.newsWireButtons {
  margin: 6px 0px;
  padding: 12px;
  float: clear;
}

h1, h2, h3, h4 {
  font-family: "Avenir";
  font-weight: 600;

}

.readNow {
  background-color: #f6f8fe;
  color: #333F4A;
  padding: 0.5em;
  border-radius: 5px;
}

.readNowArticleTitle {

  color: #333F4A;
  font-size: 13px;
  border-radius: 5px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  max-height: 100px;
  min-height: 25px;
  alignment: center;
  font-family:"Avenir";
  font-weight: 500;
  width: 225px;
  padding: 0.5em;
  margin: 0 1em 1em 0;
}


button.readNow {
  border: none;
background-color: #68A1F0;
font-family: "Overpass";
color: white;
font-size: 12px;
margin: 6px 6px;
padding: 6px 6px;
border-radius: 6px;
}

button.readLater {
  border: none;
background-color: #6dced5;
font-family: "Overpass";
color: white;
font-size: 12px;
margin: 6px 6px;
padding: 6px 6px;
border-radius: 6px;
}

button.delete {
  border: none;
background-color: #E27E8D;
font-family: "Overpass";
color: white;
font-size: 12px;
margin: 6px 6px;
padding: 6px 6px;
border-radius: 6px;
}
