
@font-face {
    font-family: 'franklingothic-book';
    src: url('./Franklin_Gothic_FS_Book-Webfont/Webfonts/franklingothicfs_book_macroman/franklingothic-book-webfont.woff2') format('woff2'),
         url('./Franklin_Gothic_FS_Book-Webfont/Webfonts/franklingothicfs_book_macroman/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header,
.footer {
  /* background-image: linear-gradient(to top, #50c9c3 0%, #96deda  100%); */

  background: #f6f7fb;
  background-image: linear-gradient(60deg, #25344b 0%, #485563 100%);

  /* background-image: linear-gradient(60deg, #25344b 0%, #485563 100%); */
  /* background: #f6f7fb; */
  color: white;
  /* color: #50c9c3; */
  font-family: "Open Sans";
  font-weight: 600;
  height: 110px;
  /* width: 100%; */
  padding: 0.65em 0.5em 0 0.5em;
  font-size:3em;
}

.header-text {
  margin-left: 1em;
  margin-top: 1em;
}

body {
  margin: 0.5em;
  /* background: #f6f7fb;
  background-image: linear-gradient(60deg, #25344b 0%, #485563 100%); */
  font-family: "Open Sans";
  background: #f9fafc;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #cfdae6; */
  /* background: #25344b; */

}

.sidebar-and-feed {
  display: flex;
  position: relative;
  /* width: 100%; */
  height: 100%;

}

.sidebar {
  /* display: flex; */
  flex-direction: column;
  background-color: #CAD7E5;
  /* flex-wrap: nowrap; */
  width: 28%;
  position: relative;
  margin: 3.5em 1em 1em 1em;
  /* padding: 0.5em; */
  border-radius: 4px;
  justify-content: flex-start;
  align-items: flex-start;



}

.recommendedContainer {
  overflow: auto;
  background-color: #7590AC;
  color: white;
  margin: 3.5em 1em 1em 1em;
  padding: 0.5em;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 28%;
  position: relative;
  vertical-align: top;
  align-content: flex-start;
}

.rec-wrapper {
  padding: 1em;
}

.news-wire, {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 1.5em;
}

.news-wire-title {
  alignment: flex-start;
  position: relative;
  font-family: "Open Sans";
  font-size: 1.4em;
  font-weight: 400;
  margin: 0.75em;
}

.news-wire.article-container {
  margin: 0.25em 1em 1em 1em;
}

.articleItemNewswire:hover, .readLaterArticleItem:hover, .recommendedArticleItem:hover {
  /* transform: scale(1.03);
  transition-timing-function: ease; */
  transform: scale3d(1.02,1.02,1.1);

}

.articleItemNewswire {
  transition: all 0.4s ease-in;
  border-radius: 3px;
  min-height: 200px;
  max-height: 380px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.2);
  padding: 0.25em;
  color: #25344b;
  background-color: white;
  margin: 1em;
  display: flex;
  alignment: left;
  justify-content: center;

  flex-direction: column;
  width: 95%;
}

.articleItemInfo {
  margin: 1em;
}

.readLaterArticleItem {
  background-color: #f9fafc;
  color: #333F4A;
  border-radius: 5px;
  padding: 0.25em;
  margin: 12px 0px;
  font-size: 12px;
  color: #5C7187;
  max-height: 220px;
  min-height: 80px;
  width: 98%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s ease-in;
}

.readLaterArticleItemContent {
  height: 100%;
  /* width: 100%; */
}

.recommendedArticleItem {
  background-color: #f9fafc;
  color: #333F4A;
  border-radius: 5px;
  max-height: 200px;
  min-height: 80px;
  padding: 0.5em 0.2em 1em 0.2em;
  margin: 1em 0em;
  font-size: 12px;
  color: #5C7187;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  alignment: center;
  width: 98%;
  display: flex;
  transition: all 0.3s ease-in;
}

.recommendedArticleItemContent {
  height: 100%;
  /* width: 100%; */
}

/* .content {
  grid-area: content;
  position: relative;
  padding: 1em;
} */

.header {
  /* grid-area: header; */
}

.footer {
  /* grid-area: footer; */
}

.wrapper {
        /* display: grid; */
    /* grid-gap: 5px; */
        /* grid-template-columns: 320px 655px 320px;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        "footer  footer  footer"; */
        color: #444;
    }



/* .box {
  /* background-color: #e7fffe; */

  /* color: white;
  margin: 0.5em;
  border-radius: 6px;
  padding: 1em 1em 1em 1em; }*/




.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-wire-title {

}



.wireItemSection, .wireItemDate {
  font-size: 0.75em;
  padding: 0.25em;
  font-family: "Open Sans";
  color: #25344b;
}

.wireItemSection {
  font-weight: 600;

}


.readLaterInfo {
  font-size: 11px;
  font-family: "Open Sans";
  color: #5C7187;
  font-weight: 400;
  padding: 0.2em 0.25em 0.5em 0.25em;
  display: inline;
  float: left;

}

.viewHistoryHeader, .readLaterHeader {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 580;

}

.readLaterSection, .readNowSection {
  padding: 1em;
  float: left;
  display: flex;
  flex-direction: column;
  clear: both;
}



.readLaterArticleTitle {
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 440;
  padding: 0.1em 0.2em;
  margin: 0px 0px 6px 0px;
  float: left;
  display: inline;
}

.newswireItemArticleTitle {
  float: clear;
  font-family: "Open Sans";
  font-weight: 550;
  font-size: 1.2em;
  padding: 0.25em;
}

.wireImg {
  float: left;
  style: inline;
  padding: 2px 10px 2px 2px;
  margin: 3px;
}

.wireItemAbstract {
  color: #25344b;
  padding: 0.5em;
  margin: 0.5em;
  font-family: "Open Sans";
  font-size: 1em;
}

.newsWireButtons {
  display:inline;
  /* margin: 6px 0px;
  padding: 13px; */
  float: right;

}

h1, h2, h3, h4 {
  font-family: "Open Sans";
  font-weight: 600;

}

.readNow {
  display:block;
  background-color: #fafbfc;
  color: #333F4A;
  margin: 0.5em 0;
  padding: 0.2em;
  border-radius: 5px;
}

.readNowArticleTitle {

  color: #333F4A;
  font-size: 12px;
  line-height: 1.25em;
  border-radius: 5px;
  /* display: flex; */
  align-items: right;
  justify-content: right;
  max-height: 100px;
  min-height: 25px;
  alignment: center;
  font-family:"franklingothic-book";
  font-weight: 440;
  width: 225px;
  /* padding: 0.1em 0.2em; */
  margin: 0.5em 0.5em 1em 0;
}


button.readNow {
  border: none;
  background-color: #f6f7fb;
  color: #273242;
  font-family: "Open Sans";
  display: inline;
  align-items: flex-start;
  justify-content: flex-start;
}

button {
  background-color: #f6f7fb;
  margin: 3px 6px;
  padding: 0px 3px;
  border-radius: 6px;
  border: none;
}

.readNowButtons {
  float: right;
  display: inline;

}



.material-icons {
  margin: 2px 2px;
  padding: 1px 2px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  display:inline;
}


button.readLater {
font-family: "Open Sans";
color: #1E79FF;
font-size: 15px;
;

}



button.delete {
  border: none;
  background-color: #f6f7fb;
  font-family: "Open Sans";
  color: #718CA1;
  display: inline;
}

ol {
    padding: 0 1.2em;

}

li {
  font-family: "Open Sans";
}
