
@font-face {
    font-family: 'franklingothic-book';
    src: url('./Franklin_Gothic_FS_Book-Webfont/Webfonts/franklingothicfs_book_macroman/franklingothic-book-webfont.woff2') format('woff2'),
         url('./Franklin_Gothic_FS_Book-Webfont/Webfonts/franklingothicfs_book_macroman/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header,
.footer {
  background-image: linear-gradient(to top, #50c9c3 0%, #96deda  100%);
  /* background-image: linear-gradient(60deg, #25344b 0%, #485563 100%); */
  /* background: #f6f7fb; */
  color: white;
  /* color: #50c9c3; */
  font-family: "Noto Sans";
  font-weight: 600;
  height: 110px;
  width: 100%;
  padding: 0.65em 0.5em 0 0.5em;
  font-size:3.5em;
}

.header-text {
  margin-left: 1em;
  margin-top: 1em;
}

body {
  margin: 0.5em;
  background: #f6f7fb;
  background-image: linear-gradient(60deg, #25344b 0%, #485563 100%);
  /* background: #25344b; */

}

.sidebar-and-feed {
  display: flex;
}

.sidebar {
  /* grid-area: sidebar; */
  /* background-color: #f9fafc; */
  background-color: #E4F6F6;
  /* background: #f6f7fb; */
  /* background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%); */
  margin: 3.5em 2em 1em 1em;
  padding: 0.5em;
  border-radius: 4px;
  /* display: inline-block; */
  min-width: 300px;
  max-width: 300px;
  float: right;
  position: sticky;
  vertical-align: top;
  justify-content: flex-end;
  align-content: center;
  /* display:flex; */
  /* flex-direction:column; */
  /* background-color: #E4F6F6; */
  /* background: #f9fafc; */
  /* background-image: linear-gradient(225deg, #e6e9f0 0%, #f6f7fb 100%); */
}

.news-wire, {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
}

.news-wire-title {

  alignment: flex-start;
  position: relative;
  font-family: "Noto Sans";
  font-size: 25px;
  font-weight: 400;
  margin: 0.75em;
}

.news-wire.article-container {
  margin: 0.25em 0.25em 0.25em 1em;
}


.articleItemNewswire {
  border-radius: 3px;
  display: inline-block;
  align-items: left;
  alignment: left;
  float: left;
  justify-content: left;
  flex-direction: row;
  min-height: 200px;
  max-height: 250px;
  width: 825px;
  margin: 1em;
  /* position: static; */
  /* float: right; */
  /* width: 800px; */
  box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.2);
  padding: 0.5em;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-color: #f6f7fb;
  color: #25344b.
}

.readLaterArticleItem {
  /* background-color: #E4F6F6; */
  background-color: #f9fafc;
  /* background-color: #E4F6F6; */
  color: #333F4A;
  border-radius: 5px;
  align-items: right;
  justify-content: right;
  /* flex-direction: column; */
  max-height: 150px;
  min-height: 80px;
  alignment: center;
  /* float: right; */
  vertical-align: top;
  width: 275px;
  padding: 0.75em 0.25em;
  margin: 1em 0;
  font-size: 12px;
  color: #5C7187;

}

/* .content {
  grid-area: content;
  position: relative;
  padding: 1em;
} */

.header {
  /* grid-area: header; */
}

.footer {
  /* grid-area: footer; */
}

.wrapper {
        /* display: grid; */
    /* grid-gap: 5px; */
        /* grid-template-columns: 320px 655px 320px;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        "footer  footer  footer"; */
        color: #444;
    }



/* .box {
  /* background-color: #e7fffe; */

  /* color: white;
  margin: 0.5em;
  border-radius: 6px;
  padding: 1em 1em 1em 1em; }*/




.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-wire-title {
  color: white;
}



.wireItemSection, .wireItemDate {
  font-size: 14px;
  font-family: "Noto Sans";
  color: #25344b;
}

.wireItemSection {
  font-weight: 600;

}


.readLaterInfo {
  font-size: 11px;
  font-family: "Noto Sans";
  color: #5C7187;
  font-weight: 575;
  padding: 0.25em 0.25em 0.5em 0.25em;
}

.viewHistoryHeader, .readLaterHeader {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 580;

}

.readLaterSection, .readNowSection {
  padding: 1em 0.5em;
}



.readLaterArticleTitle {
  font-size: 14px;
  font-family: "Noto Sans";
  font-weight: 540;
  padding: 0.1em 0.2em;
  /* line-height: 1.25em; */
  margin: 0px 0px 6px 0px;
}

.newswireItemArticleTitle {
  float: clear;
  font-family: "Noto Sans";
  font-weight: 550;
}

.wireImg {
  float: left;
  style: inline;
  padding: 2px 10px 2px 2px;
  margin: 3px;
}

.wireItemAbstract {
  color: #25344b;
  padding: 3px 3px 0px 3px;
  margin: 6px 3px;
  font-family: "Noto Sans";
  font-size: 17px;
}

.newsWireButtons {
  display:inline;
  margin: 6px 0px;
  padding: 13px;
  float: right;
}

h1, h2, h3, h4 {
  font-family: "Noto Sans";
  font-weight: 600;

}

.readNow {
  display:block;
  background-color: #f6f8fe;
  color: #333F4A;
  margin: 0.5em 0;
  padding: 0.2em;
  border-radius: 5px;
}

.readNowArticleTitle {

  color: #333F4A;
  font-size: 13.5px;
  line-height: 1.25em;
  border-radius: 5px;
  /* display: flex; */
  align-items: right;
  justify-content: right;
  /* flex-direction: column; */
  max-height: 100px;
  min-height: 25px;
  alignment: center;
  font-family:"franklingothic-book";
  font-weight: 525;
  width: 225px;
  padding: 0.1em 0.2em;
  margin: 0.5em 1em 1em 0;
}


button.readNow {
  border: none;
background-color: #50c9c3;
font-family: "Noto Sans";
color: white;
font-size: 12px;
margin: 3px 12px;
padding: 6px 6px;
border-radius: 6px;
display: inline;
align-items: right;
justify-content: right;
}

button.readNow.saved {
  font-size: 12px;
}

button.readLater {
  border: none;
background-color: #35a8f2e3;
font-family: "Noto Sans";
color: white;
font-size: 12px;
margin: 6px 6px;
padding: 6px 6px;
border-radius: 6px;

}

button.delete {
  border: none;
background-color: #E27E8D;
font-family: "Noto Sans";
color: white;
font-size: 12px;
margin: 6px 6px;
padding: 6px 6px;
border-radius: 6px;
}

ol {
    padding: 0 1.2em;

}

li {
  font-family: "Noto Sans";
}
